{% extends 'partials/base.html' %}

{% block title %}NGO News Digest - Home{% endblock %}
{% block content %}
    {% include 'partials/header.html' %}
    <!-- 6. Detailed Story Page -->
    <div id="detailedStoryPage" class="detailed-page">
        <div class="detailed-container">
            <div class="detailed-header">
                <span class="detailed-category">{{ category }}</span>
                <h1 class="detailed-title">{{ title }}</h1>
                <div class="detailed-meta">
                    <span>By {{ author }}</span>
                    <span>{{ date_and_time}}</span>
                    <!-- <span>5 min read</span> -->
                </div>
            </div>
            {% if image_url %}
                <img src="{{ image_url }}">
            {% endif %}
            
            <div class="detailed-content">
                {{ content|safe }}
            </div>
            
            <div class="detailed-footer">
                <div class="share-buttons" style="justify-content: center; margin-top: 20px;">
                    <button class="share-btn" data-platform="share"><i class="fas fa-share-alt"></i></button>
                    <button class="share-btn" data-platform="facebook"><i class="fab fa-facebook-f"></i></button>
                    <button class="share-btn" data-platform="twitter"><i class="fab fa-twitter"></i></button>
                    <button class="share-btn" data-platform="linkedin"><i class="fab fa-linkedin-in"></i></button>
                </div>
                <div class="action-buttons">
                    <div class="action-buttons">
                        <a href="{% url 'stories_page' %}" class="read-more-btn">
                            <i class="fas fa-home"></i> More stories
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
    </script>
    {% include 'partials/footer.html' %}
{% endblock %}

